# Configuración Azure AD - BarrioDigital
AZURE_TENANT_ID=ffcb40ec-aa43-4c4e-acd8-4d27467872c5
AZURE_CLIENT_ID=2fc5d9c1-8b42-4674-b0dc-23990c22f370
AZURE_AUTHORITY=https://login.microsoftonline.com/ffcb40ec-aa43-4c4e-acd8-4d27467872c5/